.lista{
    background-color: brown;
    list-style: square;
    width: 50%;
    font-size: 17px;
}
.elemento-lista{
    color: white;
    padding: 5px;
    background-color: red;
    margin: 2px; }
    

body {
    background: #f87e7e;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#007d7d', EndColorStr='#005697');
	background: -moz-linear-gradient(top, #f87e7e, #970000);
	width: 100%;
	height: 100%;
}
.titulo-principal 
{
    color: rgb(66, 2, 2);
    font-style: georgia;
    font-size: 50px;
    font-style: bold;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.titulo-secundario
{
    color: crimson;
  font-style:verdana;
  font-size: 40px;
}

.parrafo { 
    font-style: italic;
    font-size: 20px;
}

.input { 
    font-style: italic; 
    padding: 3px;
    border-color: crimson;
}
img {
    width: 450px;
}

