.input{
    border-style: solid blue;
    background: papayawhip;
}

.elemento-lista{
    color: blueviolet;
    border: 1px solid plum;
}
.boton-principal {
    text-decoration: none;
    padding: 4px;
    font-size: 17px;
    color: #ffffff;
    background-color:#8EB8E5;
    border-radius: 6px;
    border: 2px  #6eb9cf;
    font-family: 'Cabin Skeck';
    font-style: italic;
}

.boton-secundario {
    text-decoration: none;
    padding: 4px;
    font-size: 17px;
    color: #ffffff;
    background-color:#8EB8E5;
    border-radius: 6px;
    border: 2px  #6eb9cf;
    font-family: 'Cabin Skech';
    font-style: italic;
}
 body {
     background-color:rgb(114, 184, 162);
 }
