.input{
    padding: 9px;
    
}   
.boton{
    padding: 10px;
    width: 100px;
    color: #ffffff; 
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.boton-principal{  
    background-color: #e22323 ;
}

.boton-secundario{
   background-color: #1565c0;
}

.boton-principal:hover{
    background-color: #b41f1f;
}

.boton-secundario:hover{
    background-color: #0d3e77;
}